body {
}

#currentword {
    margin-right: 10px;
    padding: 0px 5px;
    background-color: #11E4E4;
}

#lastword {
    margin-right: 10px;
}

#nextword {
    margin-right: 10px;
}

.correct {
    color: white;
}

.correctword {
    color: #11E4E4;
}

.incorrect {
    color: red;
}

.nextword {
    margin-right: 10px;
}

#sourceword > span {
    display: inline-block;
}
