body {
}

#currentword {
    margin-right: 10px;
    padding: 0px 5px;
    background-color: #428bca;
    border-radius:4px;
    color:#ffffff;
}

#lastword {
    margin-right: 10px;
}

#nextword {
    margin-right: 10px;
}

.correct {
    color: #2ffc1d;
}

.correctword {
    color: #428bca;
}
.incorrectword{
    color:red;
}
.incorrectword > span{
    color:red;
}

.incorrect {
    color: red;
}

.nextword {
    margin-right: 10px;
}
.lastword{
    margin-right:10px;
}
#sourceword > span {
    display: inline-block;
}
